@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
.rule_container {
  padding: 1vh 1vw;
  margin: 1vh 1vw;
  font-family: "Oswald", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
